beautifulsoup4==4.9.1
bs4==0.0.2
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==3.3.2
contextlib2==0.6.0.post1
coverage==5.3.1
et-xmlfile==1.1.0
future==0.18.2
idna==2.10
lxml==4.5.2
openpyxl==3.1.2
python-fmrest==1.7.1
PyYAML==5.3.1
requests==2.24.0
schema==0.7.2
six==1.15.0
solrpy==1.0.0
soupsieve==2.0.1
urllib3==1.25.10
