beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
contextlib2==0.6.0.post1
coverage==5.3.1
docopt==0.6.2
future==0.18.2
idna==2.10
internetarchive==1.9.5
jsonpatch==1.26
jsonpointer==2.0
lxml==4.5.2
PyYAML==5.3.1
requests==2.24.0
schema==0.7.2
six==1.15.0
solrpy==1.0.0
soupsieve==2.0.1
tqdm==4.50.2
urllib3==1.25.10
